<!-- views/partials/footer.ejs -->

<footer class="page-footer">
  <div id="footer-container">
    <button id="add-note"><i class="fa fa-plus"></i></button>
    <button id="edit-note"><i class="fa fa-cog"></i></button>
    <button id="delete-note"><i class="fa fa-trash"></i></button>
    <button id="logout"><i class="fa fa-sign-out"></i></button>

    <div id="user-info">
      <img src="https://avatars.io/gravatar/<%= user.email %>" id="user-avatar">
    </div>
  </div>
</footer>
