<!-- views/partials/head.ejs -->

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<title><%= page.title %> - Notus</title>
<meta charset="utf-8"><!-- html5 version of http-equiv="Content-Type"... -->
<meta name="description" content="Taking notes has never been easy as this! Use either Markdown or HTML and create your note today!">
<meta name="keywords" content="notes">
<link rel="author" href="https://suufi.me" />
<link rel="canonical" href="https://notus.cf" />


<!-- favicons -->
<% include favicons %>

<!-- JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- metas -->
<% include metas %>

<!-- CSS  -->