<!-- views/partials/main.ejs -->

<main>
    <div id="main-container">
      <div id="sidebar">
      <%- include sidebar %>
      </div>
        <div id="editor">
            <textarea id="editor-textarea" data-current></textarea>
        </div>
    </div>

</main>