module.exports = {
	'domains': {
		base: 'notus.cf',
		mail: 'mail.notus.cf',
		website: 'https://notus.cf'
	},
	'port': 8080,
	'dataGovKey': '71istdNK7Ybf0MP37X4agCdaD6q3T5fwjexkht0S',
	'secret': 'cleancut',
  'database': 'mongodb://username:password@domain/database',
	'rethinkdb': {
		db: 'Notus',
		servers: [{
			host: 'xxx',
			port: 28015
		}]
	},
	'noteLimit': 50,
	'mailService': {
		service: 'Mailgun',
		auth: {
			user: 'postmaster@mail.domain.com',
			pass: 'xxx'
		}
	}
};