<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../partials/head %>
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/mde/simplemde.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
</head>

<body>
  <div id="potd" style="background: url(<%= potd.hdurl %>);"></div>
  <%- include ../partials/main %>
  <%- include ../partials/footer %>
  <script src="/js/index.js"></script>
</body>

</html>